
@{
    ViewBag.Title = "Profil";
}
<li class="media media-clearfix-xs" id="september">
    <div class="media-left">
        <div class="user-wrapper">
            <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80" />
            <div><a href="#">Jonny D.</a></div>
            <div class="date">23 SEP</div>
        </div>
    </div>
    <div class="media-body">
        <div class="media-body-wrapper">
            <div class="panel panel-default">
                <div class="panel-body">
                    Amazing 3D Animation
                </div>
                <!-- 4:3 aspect ratio -->
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/Ycv5fNd4AeM?rel=0"></iframe>
                </div>
                <div class="view-all-comments"><i class="fa fa-comments-o"></i> Be the first to comment</div>
                <ul class="comments">
                    <li class="comment-form">
                        <div class="input-group">
                            <input type="text" class="form-control" />
                            <span class="input-group-btn">
                                <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>